<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
      <div class="card form-card shadow-lg">
        <div class="card-header text-center back-color">
          <h5 class="text-white mb-0">
            <i class="fa-solid fa-file-pen me-2"></i> Modification du Livre
          </h5>
        </div>
        <div class="card-body p-4">
          <form #form="ngForm" (ngSubmit)="onSubmit(form)">

            <!-- Titre -->
            <div class="mb-3">
              <label class="form-label">Titre</label>
              <input
                type="text"
                class="form-control stylish-input"
                placeholder="Le titre du livre"
                name="titre"
                [(ngModel)]="livre.titre"
                required
                minlength="1"
                maxlength="200"
                #titre="ngModel">

              <div *ngIf="titre.invalid && titre.touched" class="text-danger small">
                <div *ngIf="titre.errors?.['required']">
                  Le titre du livre est obligatoire
                </div>
                <div *ngIf="titre.errors?.['minlength']">
                  Le titre doit contenir au moins 1 caractère
                </div>
                <div *ngIf="titre.errors?.['maxlength']">
                  Le titre ne doit pas dépasser 200 caractères
                </div>
              </div>
            </div>

            <!-- Genre -->
            <div class="mb-3">
              <label class="form-label">Genre</label>
              <select class="form-select stylish-input"
                name="genre"
                [(ngModel)]="livre.genre"
                required
                #genre="ngModel">
                <option value="" disabled>Choisissez...</option>
                <option value="roman">ROMAN</option>
                <option value="litterature">LITTERATURE</option>
                <option value="autre">AUTRE</option>
              </select>

              <div *ngIf="genre.invalid && genre.touched" class="text-danger small">
                Le genre du livre est obligatoire
              </div>
            </div>

            <!-- Date publication -->
            <div class="mb-3">
              <label class="form-label">Date de la publication</label>
              <input
                type="date"
                class="form-control stylish-input"
                name="datePublication"
                [(ngModel)]="livre.datePublication"
                required
                #datePublication="ngModel"
                (ngModelChange)="checkPastDate($event)">
              <div *ngIf="datePublication.touched && dateError" class="text-danger small">
                La date de publication doit être aujourd’hui ou dans le passé
              </div>
            </div>

            <!-- Auteur -->
            <div class="mb-3">
              <label class="form-label">Auteur</label>
              <select class="form-select stylish-input"
                name="auteurId"
                [(ngModel)]="livre.auteurId"
                required>
                <option value="" disabled>Choisissez...</option>
                <option *ngFor="let a of listeAuteurs" [value]="a.id">{{a.nom}}</option>
              </select>
            </div>

            <!-- Disponible -->

            <!-- <div class="form-check mb-3">
              <input type="checkbox" class="form-check-input" id="disponible"
                name="disponible"
                [(ngModel)]="livre.disponible">
              <label for="disponible" class="form-check-label">
                Disponible
              </label>
            </div> -->

            <!-- Boutons -->
            <div class="d-flex justify-content-between mt-4">
              <button type="submit" class="btn-gradient btn btn-success btn-lg px-4 rounded-3 shadow-sm"
                      [disabled]="form.invalid || dateError">
                <i class="fa-solid fa-check me-2"></i>Enregistrer
              </button>
              <button [routerLink]="['/listLivres']" type="button" class="btn btn-danger btn-lg px-4 rounded-3 shadow-sm">
                <i class="fa-solid fa-xmark me-2"></i>Annuler
              </button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
