<div class="container my-5">
  <div class="card shadow-lg border-0 rounded-4">

    <!-- HEADER -->
    <div class="card-header back-color text-color d-flex align-items-center justify-content-between rounded-top-4 py-3">
      <div class="flex-grow-1 text-center">
        <h5 class="mb-0"><i class="fas fa-list"></i> Liste des Livres</h5>
      </div>
      <div class="position-absolute end-0 me-3">
        <button class="btn btn-sm btn-gradient" [routerLink]="['/ajoutLivre']">
          <i class="fas fa-plus"></i> Ajouter un nouveau livre
        </button>
      </div>
    </div>

    <!-- TABLE -->
    <div class="card-body p-0">
      <div class="table-responsive">
        <table class="table table-hover align-middle mb-0">
          <thead class=""><!--table-primary-->
            <tr>
              <th>Titre</th>
              <th>Genre</th>
              <th>Date de pub</th>
              <th>Auteur</th>
              <th>Statut</th>

              <th class="text-center">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of paginatedItems; let i = index">
              <td>{{ item.titre }}</td>
              <td>{{ item.genre }}</td>
              <td>{{ item.datePublication }}</td>
              <td>{{ getNomAuteur(item.auteurId) }}</td>
              <td>
                <span class="badge" [ngClass]="item.disponible ? 'bg-success' : 'bg-danger'">
                  {{ item.disponible ? 'Disponible' : 'Emprunté' }}
                </span>
              </td>

              <td class="text-center">
                <button class="btn btn-warning btn-sm me-2" (click)="modifierLivre(item.id)">
                  <i class="fas fa-edit"></i> Modifier
                </button>
                <button class="btn btn-danger btn-sm" (click)="suppressionAuteur(item.id!)">
                  <i class="fas fa-trash-alt"></i> Supprimer
                </button>
              </td>
            </tr>
            <tr *ngIf="listeLivres.length === 0">
              <td colspan="5" class="text-center text-muted py-4">
                <i class="fas fa-box-open fa-2x d-block mb-2"></i>
                Aucun enregistrement trouvé
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

     <!-- Pagination (affichée seulement si + d'une page) -->
    <div class="card-footer d-flex justify-content-center" *ngIf="totalPages > 1">
      <nav>
        <ul class="pagination mb-0">

          <!-- Bouton Précédent -->
          <li class="page-item" [class.disabled]="currentPage === 1">
            <button class="page-link" (click)="changePage(currentPage - 1)">Précédent</button>
          </li>

          <!-- Numéros de page -->
          <li *ngFor="let p of pagesToDisplay"
              class="page-item"
              [class.active]="p === currentPage"
              [class.disabled]="p === '...'">
              <button class="page-link" *ngIf="p !== '...'" (click)="changePageSafe(p)">{{ p }}</button>
            <span class="page-link" *ngIf="p === '...'">...</span>
          </li>

          <!-- Bouton Suivant -->
          <li class="page-item" [class.disabled]="currentPage === totalPages">
            <button class="page-link" (click)="changePage(currentPage + 1)">Suivant</button>
          </li>
        </ul>
      </nav>
    </div>

  </div>
</div>
