<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
      <div class="card form-card shadow-lg">
        <div class="card-header text-center back-color">
        <h5 class="text-white mb-0">
          <i class="fa-solid fa-file-pen me-2"></i> Authentification
        </h5>
      </div>
        <div class="card-body p-4">
            @if(err==1) {
              <div class="alert alert-danger" >
                <strong>{{message}}</strong>
              </div>
            }
          <form #form="ngForm" (ngSubmit)="onSubmit(form)">

            <!-- USERNAME -->
            <div class="mb-3">
              <label class="form-label">Nom d'utilisateur</label>
              <input
                type="text"
                class="form-control stylish-input"
                placeholder="Entrez votre username"
                name="username"
                [(ngModel)]="user.username"
                required>
            </div>

            <!-- PASSWORD -->
            <div class="mb-3">
              <label class="form-label">Mot de passe</label>
              <input
                type="password"
                class="form-control stylish-input"
                placeholder="Entrez votre mot de passe"
                name="password"
                [(ngModel)]="user.password"
                required>
            </div>

            <!-- Boutons -->
            <div class="d-flex justify-content-between mt-4">
              <button type="submit" class="btn-gradient btn btn-success btn-lg px-4 rounded-3 shadow-sm"
              [disabled]="form.invalid">
                <i class="fa-solid fa-check me-2"></i>Enregistrer
              </button>
             <p>Vous n'avez pas un compte ?  <a [routerLink]="['/register']" type="button">
                S'inscrire
              </a></p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
